<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Ticket</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
      * { font-family: Nunito, Arial, sans-serif; margin: 0; padding: 0;
      box-sizing: border-box; } body { background-color: #f0f0f0; max-width:
      260mm; margin: 0 auto; padding: 10mm 0; } .ticket-header { width: 100%;
      display: flex; align-items: center; justify-content: space-between; }
      .ticket-header h1 { color: #000; font-weight: 600; font-size: 30px; }
      .ticket-header .organizer-info { display: flex-column; align-items: end;
      gap: 15px; } .ticket-header .organizer-info h3 { color: #555; font-weight:
      600; font-size: 13px; } .ticket-header .organizer-info p { color: #000;
      font-weight: 500; font-size: 18px; } .ticket-container { width: 100%;
      height: 95mm; border: 1.5px solid #bbb; margin-top: 5mm; display: flex;
      justify-content: space-between; } .cover-photo { width: 43mm; height:
      100%; position: relative; flex-shrink: 0; } .cover-photo-inner { width:
      95mm; height: 43mm; transform: rotate(270deg); position: absolute; top:
      95mm; transform-origin: top left; } .cover-photo img { width: 100%;
      height: 100%; object-fit: cover; } .qr-code { width: 48mm; height: 100%;
      border-left: 1.5px solid #bbb; display: flex; flex-direction: column;
      align-items: center; justify-content: center; gap: 16px; flex-shrink: 0; }
      .qr-code img { height: 33mm; width: 33mm; } .qr-code p { color: #000;
      font-weight: 500; font-size: 18px; } .ticket-info { height: 100%; width:
      100%; padding: 25px; display: flex; flex-direction: column; gap: 35px; }
      .ticket-info h2 { font-size: 22px; font-weight: 600; } .ticket-info i {
      font-size: 17px; text-align: center; color: #555; margin-right: 13px; }
      .event-details { display: flex; flex-direction: column; gap: 15px; }
      .event-details p { display: flex; align-items: center; } .event-details p
      span { color: #555; font-size: 17px; font-weight: 600; } .buyer-details {
      width: 100%; display: flex; flex-wrap: wrap; gap: 15px; } .buyer-details
      .detail { width: calc(50% - 7.5px); } .buyer-details .detail h5 { color:
      #555; font-size: 16px; font-weight: 600; } .buyer-details .detail p {
      color: #000; font-size: 18px; font-weight: 500; margin-top: 5px; }
    </style>
  </head>

  <body>
    <header class="ticket-header">
      <h1>Your ticket</h1>

      <div class="organizer-info">
        <h3>Organized by</h3>
        <p>{{organizerName}}</p>
      </div>
    </header>

    <div class="ticket-container">
      <div class="cover-photo">
        <div class="cover-photo-inner">
          <img src={{eventCoverPhoto}} alt="event cover photo" />
        </div>
      </div>

      <div class="ticket-info">
        <h2>{{eventName}}</h2>

        <div class="event-details">
          <p class="date">
            <i class="fas fa-calendar-alt"></i>
            <span>{{startDate}} - {{endDate}}</span>
          </p>
          <p class="location">
            <i class="fas fa-location-dot"></i>
            <span>{{location}}</span>
          </p>
        </div>

        <div class="buyer-details">
          <div class="detail">
            <h5>Name</h5>
            <p>{{attendeeName}}</p>
          </div>

          <div class="detail">
            <h5>Ticket Type</h5>
            <p>{{ticketName}}</p>
          </div>

          <div class="detail">
            <h5>Purchased by</h5>
            <p>{{attendeeEmail}}</p>
          </div>
        </div>
      </div>

      <div class="qr-code">
        <img src={{qrCode}} alt="qr code image" />

        <p>{{ticketCode}}</p>
      </div>
    </div>
  </body>
</html>